<!-- Mathjax -->
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
    });
</script>
<script src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

<!-- Sidebar nav style override -->
<style>
  #site-nav .nav-list .nav-list-item .nav-list-link {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  #main-content {
    line-height: 1.7;
  }

  #main-content h1, #main-content h2, #main-content h3, #main-content h4 {
    margin-top: 2rem;
    margin-bottom: .75rem;
    font-weight: bold;
  }

  #main-content p {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }

  #main-content blockquote {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: rgba(0, 0, 0, .03);
    padding: 1rem;
    padding-left: 2rem;
    border-left-width: 4px;
    border-left-style: solid;
    border-left-color: rgb(32, 201, 151);
  }
</style>